* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    margin: 0 auto;
    width: 750px;
}

.month-list li.holiday {
    color: red;
    border: 1px solid red;
}
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.main-header i {
    font-size: 25px;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.2s linear;
}

.main-header i.prev {
    animation: move 3s infinite;
}

.main-header i.next {
    animation: mymove 3s infinite;
}

@keyframes mymove {
    from {transform: translateX(0px);}
    to {transform: translateX(10px);}
  }
  @keyframes move {
    from {transform: translateX(0px);}
    to {transform: translateX(-10px);}
  }
.main-header i:hover {
    color: green;
}
.month-list {
    display: flex;
    flex-wrap: wrap;
}
li {
    list-style: none;
    flex-basis: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p.festa {
    margin-top: 5px;
}

.days ul {
    display: flex;
}
.days ul li {
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
} 
.days ul li.sunday {
    background-color: red;
}
li[data-complete-date=''] { 
   border: none;
}